    <h1>Last 3 requests :</h1>
    <div class="history-row">
      <h3>Request time : 19:48</h3>
      <h3>Country: Poland</h3>
      <h3>City: Gdansk</h3>
      <h3>Details: Pruszcz Gdanski</h3>
    </div> <br> <br>
    <div class="history-row">
      <h3>Request time : 18:32</h3>
      <h3>Country: Poland</h3>
      <h3>City: Gdansk</h3>
      <h3>Details: Zabianka</h3>
    </div> <br> <br>
    <div class="history-row">
      <h3>Request time : 17:33</h3>
      <h3>Country: Poland</h3>
      <h3>City: Gdansk</h3>
      <h3>Details: Morena</h3>
    </div>
