<h1>Set new weather location : </h1>
<div *ngIf="!isSummaryVisible">
  <form id="formik" novalidate #myForm="ngForm" (submit)="onFormSubmit(myForm)">
    <div class="row">
      <label class="description"><b>Country :</b></label> <br>
      <input required maxlength="25" minlength="2" class="input-value" type="text" placeholder="Country name : 'Poland'"
      name="countryInput" #countryInput="ngModel" [(ngModel)]="detailsModel.country">
      <p class="alert" *ngIf="countryInput.invalid && countryInput.touched">Country is required (2-25 characters).</p>
    </div>
    <br>
    <div class="row">
      <label class="description"><b>City :</b></label> <br>
      <input required maxlength="25" minlength="2" class="input-value" type="text" placeholder="City name : 'Gdansk'"
      name="cityInput" #cityInput="ngModel" [(ngModel)]="detailsModel.city">
      <p class="alert" *ngIf="cityInput.invalid && cityInput.touched">City is required (2-25 characters).</p>
    </div>
    <br>
    <div class="row">
      <label class="description"><b>Location details :</b></label> <br>
      <input class="input-value" type="text" placeholder="District or anything:"
      name="detailsInput" #detailsInput="ngModel" [(ngModel)]="detailsModel.locationDetails">
    </div> <br>
    <div id="submit-button">
      <button class="hisButton" [disabled]="myForm.invalid">Submit</button>
    </div>
  </form>
</div>
<div class="Summary" *ngIf="isSummaryVisible">
  <h3>Successfully changed the weather specifications</h3>
  <button class="hisButton SummaryButton" (click)="setFormAsVisible()">Back</button>
</div>
