    <h1>Set new weather location : </h1>
    <form id="formik">
      <div class="row">
        <label class="description"><b>Country :</b></label> <br>
        <input class="input-value" type="text">
      </div>
      <br>
      <div class="row">
        <label class="description"><b>City :</b></label> <br>
        <input class="input-value" type="text">
      </div>
      <br>
      <div class="row">
        <label class="description"><b>Location details :</b></label> <br>
        <input class="input-value" type="text">
      </div> <br>
      <div id="submit-button">
        <input class="hisButton" type="submit" value="Submit">
      </div>
    </form>
